@import url("./commander-sheet.css");

/* Define Colors as variables at root */
:root {
  --skillBkgColor--pathetic: #cfe2f3;
  --skillFgColor--pathetic: var(--color-text-dark-primary);
  --skillBkgColor--untrained: #9fc5e8;
  --skillFgColor--untrained: var(--color-text-dark-primary);
  --skillBkgColor--novice: #6fa8dc;
  --skillFgColor--novice: var(--color-text-dark-primary);
  --skillBkgColor--adept: #3d85c6;
  --skillFgColor--adept: var(--color-text-dark-primary);
  --skillBkgColor--expert: #0b5394;
  --skillFgColor--expert: #cfe2f3;
  --skillBkgColor--master: #073763;
  --skillFgColor--master: #cfe2f3;
  --skillBkgColor--virtuoso: #e9be25;
  --skillFgColor--virtuoso: var(--color-text-dark-primary);
  --skillBkgColor--invalid: #ff0f0faa;
  --skillFgColor--invalid: var(--color-text-dark-primary);
}
* {
  scrollbar-color: auto;
}
.compendium-sidebar.directory .directory-footer {
  flex: 0 0 30px;
  display: flex;
}
.effect-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.effect-popup .effect-effect {
  white-space: pre-wrap;
}
.effect-popup .effect-range {
  margin: 0 0.25rem 0.25rem 0.25rem;
  text-align: center;
  padding: 0.25rem 1rem;
  background: #a88fff65;
  border-radius: 5px;
  width: fit-content;
  align-self: center;
}
#token-hud .status-effects {
  padding: 5px;
  grid-template-columns: repeat(5, 1fr);
  width: auto;
  gap: 5px;
  top: -30px;
}
#token-hud .status-effects .title-bar {
  border: none;
  border-radius: 3px;
  background: 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px var(--color-shadow-dark);
  backdrop-filter: blur(5px);
  box-sizing: content-box;
  font-size: var(--font-size-20);
  font-weight: 400;
}